@model IEnumerable<TAClassifieds.Models.DAL.TAC_Category>
<div class="col-sm-10 col-sm-offset-1 ">
    @foreach (var item in Model)
    {
        <div class="col-sm-3">
            <a href="@Url.Action("PostAd","Classified",  new { @categoryID = item.CategoryId })" title="Register Your ID" , rel="nofollow">
                <img src="@item.CategoryImage" class="image-box" width="180px" height="150px" id="@item.CategoryName" />
            </a>
            <h4 class="col-sm-offset-2">@item.CategoryName</h4>
        </div>
    }
</div>